absl-py==2.3.1
annotated-types==0.7.0
beautifulsoup4==4.14.3
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
dill==0.4.0
Farama-Notifications==0.0.4
filelock==3.20.0
fonttools==4.61.0
fsspec==2025.10.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.45
glfw==2.10.0
grpcio==1.76.0
gym==0.9.4
gymnasium==0.29.1
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
jax-jumpy==1.0.0
Jinja2==3.1.6
kiwisolver==1.4.9
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
moviepy==2.2.1
mpmath==1.3.0
mujoco==2.3.0
multiprocess==0.70.18
networkx==3.4.2
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1747544633931/work/dist/numpy-2.2.6-cp310-cp310-macosx_11_0_arm64.whl#sha256=50a17562ef677de6531058e998e32487919c216e19ca4e1bdd86b0e1262251c1
omnisafe==0.5.0
packaging==25.0
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1759265743841/work
pathos==0.3.4
pillow==11.3.0
platformdirs==4.5.0
pox==0.3.6
ppft==1.7.7
proglog==0.1.12
protobuf==6.33.1
pydantic==2.12.5
pydantic_core==2.41.5
pygame==2.1.0
pyglet==2.1.11
Pygments==2.19.2
PyOpenGL==3.1.10
pyparsing==3.2.5
PySocks==1.7.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML==6.0.3
requests==2.32.5
rich==14.2.0
safety-gymnasium==0.4.1
scipy==1.15.3
seaborn==0.13.2
sentry-sdk==2.46.0
shellingham==1.5.4
simglucose==0.2.11
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
soupsieve==2.8
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
torch==2.9.1
tqdm==4.67.1
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
urllib3==2.5.0
wandb==0.23.0
Werkzeug==3.1.4
xmltodict==1.0.2
